{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-undef": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [
      1,
      {
        "devDependencies": [
          "**/test.js",
          "test/**"
        ]
      }
    ],
    "max-len": [
      2,
      {
        "code": 130
      }
    ],
    "no-unused-expressions": "off",
    "no-underscore-dangle": "off",
    "consistent-return":"off",
    "no-param-reassign": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}
